.container {
    background-color: hsl(235, 24%, 19%);
    margin: auto;
    width: 30rem;
    padding: 9px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: all 0.5s ease-in-out;
}

.upSection{
    display: flex;
    align-items: center;
}


.input {
    width: 26rem;
    background-color: hsl(235, 24%, 19%);
    border: none;
    outline: none;
    height: 3rem;
    margin-left: 20px;
    color: #ffffff;
}

.input[type="text"] {
    font-size: 16px;
}

.addBtn {
    background-color: hsl(235, 24%, 19%);
    border: 2px solid gray;
    border-radius: 50%;
    height: 24px;
    margin-left: 10px;
}

.addBtn img {
    width: 20px;
}
/* 
.addBtn img:hover {
    fill: green;
} */



.btnsContiner {
    border-top: 1px solid gray;
    width: 30rem;

}

.cateBtn , .btnActive {
    background-color: hsl(235, 24%, 19%);
    border: none;
    outline: none;
    margin: 10px 25px 3px;
    font-size: 16px;
    cursor: pointer;
    color: #ffffff;
    transition: all 0.3s ease-in-out;

}

.btnActive {
    color: #3047f6;
    text-decoration: underline;
}