.container {
    background-color: hsl(235, 24%, 19%);
    margin: auto;
    width: 30rem;
    padding: 9px;
    border-radius: 10px;
}

.input {
    width: 26rem;
    background-color: hsl(235, 24%, 19%);
    border: none;
    outline: none;
    height: 3rem;
    margin-left: 10px;
}

.addBtn {
    
}