.App {
  text-align: center;
  background: url("./img/bg-desc.jpg");
  background-repeat: no-repeat;
  background-size: 100% 45vh;
  width: 100%;
}

.component {
  z-index: 10;
  position: relative;
  top: 50px;
}


@media screen and (max-width: 550px) {
  .App {
    background: url("./img/bg-mob.jpg");
    background-repeat: no-repeat;
    background-size: 100% 270px;
  }
}

@media screen and (max-width: 420px) {
  .App {
    background: url("./img/bg-mob.jpg");
    background-repeat: no-repeat;
    background-size: 100% 230px;
  }
}